%body.gray-bg

    %div.middle-box.text-center.loginscreen.animated.fadeInDown
        %div
            %div

                %h1.logo-name
                    ／/＼｡｡／\＼

            %h3
                Welcome to Crawl Tracker
            %p
                Perfectly designed and precisely prepared with with extra new crawl metric views.
            
            %p
                Login in. To see it in action.
            = form_tag(authenticate_path, :class => "m-t") do |f| 
                %div.form-group
                    %input{:type => "text", :name => "username", :class => "form-control", :placeholder => "Username", :required => ""}
                %div.form-group
                    %input{:type => "password", :name => "password", :class => "form-control", :placeholder => "Password", :required => ""}
                = submit_tag 'Login', :class => "btn btn-primary block full-width m-b"
                %a{:href => "#"}
                    %small
                        Forgot password?
                %p.text-muted.text-center
                    %small
                        Do not have an account?
                %a{:href => "register.html", :class => "btn btn-sm btn-white btn-block"}
                    Create an account
            %p.m-t
                %small
                    Crawl Tracker app &copy; 2015

= javascript_include_tag "jquery-2.1.1.js"