%div.row.gray-bg
  %div.col-lg-12
    = render partial: 'stats_table', locals: { crawl_project: @crawl_project, stats_keys: @stats_keys }

%div.row.gray-bg
  %div.col-lg-12
    %div.ibox-content
      = link_to 'Edit', edit_crawl_project_path(@crawl_project), class: "btn btn-primary"
      = link_to 'All Crawl Projects', crawl_projects_path(), class: "btn btn-default"
